
    <h1>Vacations</h1>
    {{#each vacations}}
	    <div class="vacation">
	    	<h3>{{name}}</h3>
	    	<p>{{description}}</p>
	    	{{#if inSeason}}
		    	<span class="price">{{price}}</span>
		    	<a href="/cart/add?sku={{sku}}" class="btn btn-default">buy now</a>
		   {{else}}
			   <span>sorry this is not in season</span>
			   <a href="/notify-me-when-in-season?sku={{sku}}">notify me</a>
		   {{/if}}
	   </div>
	{{/each}}
	<br/>
	<p>currency:
		<a href="/set-currency/USD" class="currency {{currencyUSD}}">USD</a>
		<a href="/set-currency/USD" class="currency {{currencyGBP}}">GBP</a>
	    <a href="/set-currency/USD" class="currency {{currencyBTC}}">BTC</a>
	</p>
